#trackship_dashboard_widget .widget_footer{
	padding: 8px 12px;
}
input.widget_tab_input {
    display: none;
}
input.widget_tab_input:checked + label {
    border-bottom-color: #74C2E1;
    color: #74C2E1;     
}
label.widget_tab_label{
	text-decoration: none;
    padding: 17px 0 15px;
    border-bottom: 2px solid #fff;
    font-size: 14px;
    color: #393f4c;
    display: inline-block;
    margin-right: 12px;
    line-height: 1;
    outline: none;	
}
label.widget_tab_label.first_label{
	margin-left: 12px;
}
#tab_s_providers:checked ~ #content_s_providers,#tab_s_status:checked ~ #content_s_status,#tab_t_issues:checked ~ #content_t_issues{
	display: block;
}
section.widget_tab_section {
	display: none;
	border-top:1px solid #eee;
	height: 301px;
    overflow-y: auto;
}