form.order_track_form label {
	width: 100%;
	display: block;
	margin-bottom: 5px;
}
form.order_track_form input {
	width: 100%;
	margin-bottom: 10px;
}
.progress {
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	background-color: #C1C1C1;
}
.progress-bar {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #C1C1C1;
	transition: width 0.6s ease
}
ul.tpi_product_tracking_ul {
    list-style-type: none;
    margin: 0;
}
.h4-heading.tpi_products_heading {
	margin-bottom: 10px;
}
.order_track_form input.ts_from_input {
	display: none;
}
.order_track_form label.ts_from_label {
	width: 49%;
	padding: 15px 0;
	display: inline-block;
	line-height: 1;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	margin: 0;
}
.search_order_form .tracking_form {
	padding: 15px 20px;
}
.search_order_form .by_tracking_number {
	display: none;
}
.tracking-detail .text-center {
	text-align: center;
}
.tracking-detail .text-right {
	text-align: right;
}
.col.tracking-detail {
	margin: 0 auto 20px;
	border: 1px solid #ccc;
	max-width: 600px;
	position: relative;
	padding: 15px 20px;
}
.trackship_branding {
	text-align: center;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    margin: -1px -20px;
}
span.wc_order_id {
	float: right;
}
.trackship_branding p {
	margin: 0;
	color: #3c4758;
}
.trackship_branding img {
	width: 85px;
	display: inline-block;
	vertical-align: middle;
}
.tracking-detail .h4-heading {
	border-bottom: 1px solid #eee;
	color: #333333;
	font-size: 14px;
	font-weight: 100;
}
.track-order-section {
	text-align: left;
}
.track-order-section p.form-row {
	float: none	;
}
.order_id_email:after {
	content: '';
	display: table;
	clear: both;
}
.search_order_form .form-row button {
	margin-bottom: 0;
}
.shipment-header {
	margin: 10px auto 0;
	max-width: 600px;
}
.shipment_heading {
	margin: 0;
    padding: 5px 20px;
	border-bottom: 0 !important;
}
.shipment_status_heading {
	font-weight: 600;
	color: #424242;
	font-size: 24px;
	margin-bottom: 0;
}
.shipment_status_heading.delivered {
	color: #218748;
}
.shipment_status_heading.delivered:before {
	content: url(icons/delivered-2.png);
	display: inline-block;
    height: 30px;
    vertical-align: text-bottom;
	margin-right: 5px;
}
.shipping_from_to {
	font-size: 14px;
	margin-bottom: 5px;
}
.shipping_from_to span {
	vertical-align: middle;
}
.shipping_from_to .shipping_to_img {
    margin: 0 8px;
	height: 17px;
}
.tracker-progress-bar {
	margin: 30px 0;
	position: relative;
}
.tracking-layout-2 .tracker-progress-bar {
	margin: 20px 0;
}
/**** Layout 1 and 3 Progressbar CSS START ***/
.tracker-progress-bar.tracking_icon_layout .progress {
	height: 5px;
	border-radius: 10px;
}
.tracker-progress-bar.tracking_icon_layout .progress .progress-bar:before {
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
}
.tracking_icon_layout .progress .progress-icon {
	width: 40px;
	height: 40px;
	position: absolute;
	top: -15px;
}
/* icon - 1 */
.tracking_icon_layout .progress .progress-icon.icon1 {
	left: 0;
}
.tracking_icon_layout.t_layout_1 .progress .progress-icon.icon1 {
	content: url(icons/pre_transit-gray.png);
}
.tracking_icon_layout .progress.pre_transit .progress-icon.icon1 {
	content: url(icons/pre-transit.png);
}
.tracking_icon_layout .progress.failure .progress-icon.icon1 {
	content: url(icons/failure.png);
}
.tracking_icon_layout .progress.pending_trackship .progress-icon.icon1, .tracking_icon_layout .progress.pending .progress-icon.icon1, .tracking_icon_layout .progress.unknown .progress-icon.icon1, .tracking_icon_layout .progress.carrier_unsupported .progress-icon.icon1, .tracking_icon_layout .progress.insufficient_balance .progress-icon.icon1, .tracking_icon_layout .progress.expired .progress-icon.icon1, .tracking_icon_layout .progress.label_cancelled .progress-icon.icon1, .tracking_icon_layout .progress.unauthorized .progress-icon.icon1, .tracking_icon_layout .progress.connection_issue .progress-icon.icon1, .tracking_icon_layout .progress.invalid_tracking .progress-icon.icon1 {
	content: url(icons/shipped-color.png);
}
/* icon - 2 */
.tracking_icon_layout .progress .progress-icon.icon2 {
	left: 30%;
}
.tracking_icon_layout.t_layout_1 .progress .progress-icon.icon2 {
	content: url(icons/in_transit-gray.png);
}
.tracking_icon_layout .progress.in_transit .progress-icon.icon2 {
	content: url(icons/in-transit.png);
}
.tracking_icon_layout .progress.on_hold .progress-icon.icon2 {
	content: url(icons/on-hold.png);
}

/* icon - 3 */
.tracking_icon_layout .progress .progress-icon.icon3 {
	left: 60%;
}
.tracking_icon_layout.t_layout_1 .progress .progress-icon.icon3 {
	content: url(icons/out_for_delivery-gray.png);
}
.tracking_icon_layout .progress.out_for_delivery .progress-icon.icon3 {
	content: url(icons/out-for-delivery.png);
}
.tracking_icon_layout .progress.available_for_pickup .progress-icon.icon3 {
	content: url(icons/available-for-pickup.png);
}
.tracking_icon_layout .progress.return_to_sender .progress-icon.icon3 {
	content: url(icons/return-to-sender.png);
}
.tracking_icon_layout .progress.exception .progress-icon.icon3 {
	content: url(icons/failure.png);
}
/* icon - 4 */
.tracking_icon_layout.t_layout_1 .progress .progress-icon.icon4 {
	content: url(icons/delivered-gray.png);
	right: 0;
}
.tracking_icon_layout .progress.delivered .progress-icon.icon4 {
	content: url(icons/delivered.png);
	right: 0;
}
/**** Layout 4 CSS start***/
.t_layout_2.tracker-progress-bar .progress {
	border-radius: 10px;
	height: 15px;
	background-color: #e0e0e0;
}
.t_layout_2.tracker-progress-bar .progress-bar {
	background: #0bd4ab;
}
.t_layout_2 .progress-bar:before {
    content: ' ';
    background: #124fd6;
    width: 17px;
    height: 17px;
    position: absolute;
    display: inline-block;
    border-radius: 10px;
	left: 9%;
}
.t_layout_2 .progress-bar.in_transit:before,
.t_layout_2 .progress-bar.on_hold:before,
.t_layout_2 .progress-bar.failure:before {
	left: 29%;
}
.t_layout_2 .progress-bar.out_for_delivery:before,
.t_layout_2 .progress-bar.available_for_pickup:before,
.t_layout_2 .progress-bar.exception:before,
.t_layout_2 .progress-bar.return_to_sender:before {
	left: 59%;
}
.t_layout_2 .progress-bar.pre_transit:before,
.t_layout_2 .progress-bar.pending_trackship:before,
.t_layout_2 .progress-bar.pending:before,
.t_layout_2 .progress-bar.unknown:before,
.t_layout_2 .progress-bar.carrier_unsupported:before,
.t_layout_2 .progress-bar.insufficient_balance:before,
.t_layout_2 .progress-bar.invalid_carrier:before {
	left: 9%;
}
.t_layout_2 .progress-bar.delivered {
	background-color: #4caf5080;
}
.t_layout_2 .progress-bar.delivered:before {
	right: 0;
	left: auto;
	background-color: #4caf50;
}
.t_layout_2 .progress-bar.on_hold {
	background-color: #ffde0080;
}
.t_layout_2 .progress-bar.on_hold:before {
	background-color: #ffdd00;
}
.t_layout_2 .progress-bar.in_transit {
	background-color: rgba(5, 169, 245, 0.5);
}
.t_layout_2 .progress-bar.in_transit:before {
	background-color: #05a9f4;
}
.t_layout_2 .progress-bar.out_for_delivery {
	background-color: rgba(143, 201, 92, 0.5);
}
.t_layout_2 .progress-bar.out_for_delivery:before {
	background-color: rgba(143, 201, 92, 1);
}
.t_layout_2 .progress-bar.available_for_pickup {
	background-color: rgba(255, 152, 0, 0.5);
}
.t_layout_2 .progress-bar.available_for_pickup:before {
	background-color: #ff9800;
}
.t_layout_2 .progress-bar.pre_transit {
	background-color: #673ab780;
}
.t_layout_2 .progress-bar.pre_transit:before {
	background-color: #673ab7;
}
.t_layout_2 .progress-bar.failure, .t_layout_2 .progress-bar.return_to_sender, .t_layout_2 .progress-bar.exception {
	background-color: #F3CAD8;
}
.t_layout_2 .progress-bar.failure:before, .t_layout_2 .progress-bar.return_to_sender:before, .t_layout_2 .progress-bar.exception:before {
	background-color: #cd2128;
}
/**** Layout 4 CSS END***/
.tracking_destination_details_by_date {
	margin-bottom: 10px;
}
.tracking-detail .provider_image {
	width: 45px;
	border-radius: 5px;
}
.tracking-detail .tracking-details {
	font-size: 14px;
}
.est-delivery-date.tracking-number {
	margin-bottom: 15px;
	display: block;
}
ul.timeline {
	list-style: none!important;
	position: relative;
	padding: 0 0 0 20px !important;
	margin: 0;
}
ul.timeline:before {
	content: ' ';
	background: #ccc;
	display: inline-block;
	position: absolute;
	left: 9px;
	width: 2px;
	height: 100%;
}
ul.timeline > li {
	margin: 0;
	padding: 5px 0 5px 20px;
}
ul.timeline > li:before {
	content: url('../images/timeline-round.png');
	display: inline-block;
	position: absolute;
	left: 0px;
	width: 20px;
	height: 20px;
}
ul.timeline > li > p {
	margin: 0;
	font-size: 90%;
}
.provider_image_div {
	display: inline-block;
    vertical-align: middle;
	margin-right: 10px;
}
.tracking_number_div {
	display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    font-size: 14px;
}
.tracking_number_div ul {
	list-style: none !important;
	margin: 0;
	padding: 0;
}
.tracking_number_div ul li {
	margin: 0;
}
.tracking_number_div ul li strong{
	font-size: 13px;
	margin: 0 3px;
}
.shipment_status_notifications .unsubscribe_emails_checkbox, .shipment_status_notifications .unsubscribe_sms_checkbox {
	margin: 0;
	vertical-align: middle;
}
.shipment_status_notifications span {
	margin: 0 10px;
	vertical-align: middle;
}
.unsubscribe_message {
	margin: 5px auto;
    max-width: 600px;
}
.zorem_loader {
	background: url(../images/loading.gif);
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
}
.tracking-detail .heading_panel {
	padding: 15px;
    margin: 0 -20px;
    cursor: pointer;
    border-top: 1px solid #ccc;
	font-size: 14px;
    font-weight: 600;
}
.tracking-detail .content_panel {
	padding: 0;
    display: none;
    border-top: 0;
    padding-bottom: 15px;
}
.tracking-detail .heading_panel.active {
	color: #124ed6;
}
.heading_panel .accordian-arrow {
	border: solid black;
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 4px;
    float: right;
    margin: 4px;
}
.heading_panel .accordian-arrow.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-color:#124ed6;
}
.heading_panel .accordian-arrow.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/*** RTL CSS ***/

.rtl .track-order-section {
	text-align: right;
}
.rtl .col.tracking-detail {
	text-align: right;
}
.rtl .tracking-detail .text-right {
	text-align: left;
}
.rtl .provider_image_div {
	margin: 0 0 20px 10px;
}
.rtl ul.timeline {
	padding-left: 0;
	padding-right: 20px;
}
.rtl ul.timeline:before {
	right: 9px;
}
.rtl ul.timeline > li:before {
	right: 0px;
}
.rtl ul.timeline > li {
	padding-right: 30px;
	padding-left: 0;
}
/*** END OF RTL CSS ***/
.tracking-detail .est-delivery-date {
	font-weight: 400;
	color: #757575;
	font-size: 14px;
	margin: 8px 0;
	display: block;
}
.shipment-content p.pending_message {
	margin-bottom: 15px;
}
.tracking-header {
	margin-bottom: 10px;
}
.tracking-detail .tracking_number_wrap {
    padding: 0 20px 15px;
    border-bottom: 1px solid #ccc;
    margin: 0 -20px 15px;
}
.not-shipped-widget .shipment_heading {
	font-weight: 600;
    color: #212121;
}
/**** Tracking Lightbox CSS ***/
.popupwrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(250 250 250 / 0.8);
	border: 1px solid #e0e0e0;
	z-index: 100000;
	width: 100%;
	height: 100%;
	text-align: center;
}
.popupwrapper:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.popuprow {
	display: inline-block;
	vertical-align: middle;
	max-width: 600px;
	background: #fff;
	padding: 0;
	position: relative;
	z-index: 10;
	border-radius: 3px;
	width: 97%;
	width: calc(100% - 5px);
	max-height: 90%;
	overflow-y: overlay;
	text-align: left;
	border: 1px solid #e0e0e0;
}

@media screen and (max-width: 425px) {
.tracking_number_div ul li span{
	vertical-align: middle;
}
.tracking_number_div ul li strong{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
	display: inline-block;
	vertical-align: middle;
}
}
