body.trackship_admin_settings {
	background: #fafafa;
}
.woocommerce_page_trackship-for-woocommerce #wpcontent {
	padding-left: 0;
}
.trackship_page_trackship-analytics #wpcontent, .trackship_admin_settings #wpcontent, .trackship_page_trackship-shipments #wpcontent {
	padding-left: 0;
}
.trackship_analytics_section {
	padding: 0 30px 30px;
	border-top: 1px solid #ddd;
}
.woocommerce_page_trackship-for-woocommerce #wpbody-content {
	padding-bottom: 40px;
}
.zorem-layout {
	margin: 0;
	padding: 0;
}
.zorem-layout__header {
	background: #fff;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	box-sizing: border-box;
	border-bottom: 1px solid #fff;
	padding: 0;
	width: 100%;
	z-index: 1001;
	align-items: center;
}
.zorem-layout__header .zorem-layout__header-breadcrumbs {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 0 15px 30px;
	margin: 0;
	flex: 1 auto;
	line-height: 30px;
}
.zorem-layout__header .zorem-layout__header-breadcrumbs span+span:before {
	content: " / ";
	color: #555d66;
	margin: 0 2px;
}
.zorem-layout__logo-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	right: 0;
	height: 56px;
	padding: 0 30px 0 0;
}
.zorem-layout__logo-panel .header-plugin-logo {
	width: 110px;
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
}
.trackship_admin_content {
	width: 100%;
	vertical-align: top;
}
.d_table {
	display: table;
	width: 100%;
}
.woocommerce table.form-table {
	margin: 0;
	position: relative;
	table-layout: fixed;
}
input.tab_input {
	display: none;
}
label.tab_label, label.inner_tab_label {
	text-decoration: none;
	padding: 11px 0;
	font-size: 14px;
	color: #3c4858;
	display: inline-block;
	margin-left: 20px;
	line-height: 1;
	outline: none;
}
section.inner_tab_section {
	display: none;
	padding: 0 30px 30px;
	border-top: 1px solid #ddd;
}
.tab_inner_container {
	max-width: 950px;
	margin: 0 auto;
	padding: 20px;
}
.woocommerce.trackship_admin_layout table.form-table th {
	padding: 15px;
}
.woocommerce.trackship_admin_layout table.form-table th label {
	font-weight: 500;
	color: #444;
	cursor: auto;
}
.trackship_admin_content .form-table.table-layout-2 .html2_title1 {
	display: block;
	font-weight: 400;
	margin-top: 5px;
}
.trackship_admin_content .get_shipment_status_tool .form-table th.titledesc {
	width: 70%;
}
.open_tracking_details {
	cursor: pointer;
}
.zorem_admin_sidebar {
	width: 280px;
	min-width: 280px;
	display: table-cell;
	vertical-align: top;
	padding: 25px 0px 25px 20px;
}
.zorem_admin_sidebar_inner {
	border-left: 1px solid #e0e0e0;
	padding-left: 20px;
}
.zorem-sidebar__section {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 15px;
}
.trackship_admin_layout .zorem_admin_sidebar h3 {
	margin: 0;
	color: #3c4858;
	padding: 0 0 10px;
	font-size: 16px;
}
.trackship_admin_layout .zorem_admin_sidebar h3.top-border {
	padding: 10px 0 10px;
}
.zorem-sidebar__section ul {
	position: relative;
	margin: 10px 0 10px 0;
}
.zorem-sidebar__section li {
	list-style: none;
	margin-bottom: 10px;
}
.zorem-sidebar__section li img.plugin_thumbnail {
	width: 60px;
	display: inline-block;
}
.zorem-sidebar__section li a.plugin_url {
	width: 70%;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
	margin-right: 0;
	line-height: 20px;
}
.sidebar_subscription_details {
	color: #3c4858;
}
.sidebar_subscription_details tr td strong {
	font-weight: 700;
	margin-left: 5px;
}
.wp-core-ui .button-primary.btn_ts_sidebar {
	background: #fafafa;
	color: #3c4858;
	border: 1px solid #bdbdbd;
	font-size: 13px;
	box-shadow: none;
}
#tab_trackship_dashboard:checked ~ #content_trackship_dashboard, #tab_trackship_settings:checked ~ #content_trackship_settings, #tab_trackship_tracking-page:checked ~ #content_trackship_tracking-page, #tab_trackship_notifications:checked ~ #content_trackship_notifications, #tab_trackship_license:checked ~ #content_trackship_license {
	display: block !important;
}
.outer_form_table {
	background: #fff;
	border: 1px solid #e0e0e0;
	margin-bottom: 25px;
	border-radius: 3px;
	margin-top: 0;
}
.outer_form_table.border_0 {
	border: 0;
}
.trackship_admin_layout table.form-table {
	border: 0;
	margin-top: 0;
	margin-bottom: 0px;
}
.trackship_admin_layout table.form-table.heading-table {
	margin: 0;
	border: 0;
}
.trackship_admin_layout h3.table-heading {
	color: #005B9A;
	margin: 0;
	padding: 15px;
	font-weight: 400;
}
.zorem_admin_layout h3.table-heading:after {
	content: '';
	clear: both;
}
.woocommerce.trackship_admin_layout table.form-table.heading-table td {
	padding: 15px;
	border-bottom: 1px solid #e0e0e0;
}
.trackship_admin_layout h3 {
	margin: 1em 0;
}
.woocommerce.trackship_admin_layout table.form-table.heading-table td h3 {
	margin: 0;
	color: #3c4858;
	font-weight: 600;
	font-size: 16px;
}
.trackship_admin_layout .form-table.table-layout-2 th.titledesc {
	width: 2.2%;
	vertical-align: middle;
}
.woocommerce.trackship_admin_layout table.form-table.table-layout-2 th.titledesc {
	padding: 20px 15px 20px 15px;
}
table.form-table.tracking_page_heading {
	background: #fff;
	border: 1px solid #e0e0e0;
}
table.form-table.tracking_page_heading td {
	padding: 15px 20px;
}
table.form-table.tracking_page_heading td h3 {
	margin: 0 0 5px;
}
table.form-table.tracking_page_heading td:last-child {
	text-align: right;
}
.woocommerce.trackship_admin_layout table.form-table.tracking_page_design_table td, .woocommerce.trackship_admin_layout table.form-table.tracking_page_design_table th {
	padding: 15px 20px;
	border-bottom: 1px solid #e0e0e0;
}
.woocommerce.trackship_admin_layout table.form-table.tracking_page_design_table th {
	width: 30%;
}
.woocommerce.trackship_admin_layout table.form-table.tracking_page_design_table tr:last-child td, .woocommerce.trackship_admin_layout table.form-table.tracking_page_design_table tr:last-child th {
	border-bottom: 0;
}
.woocommerce table.form-table.tracking_page_design_table td select {
	width: auto;
}
.tracking_page_design_table .radio-img {
	position: absolute;
	left: -9999px;
}
.tracking_page_design_table .radio-img + label>img {
	border: 1px solid #bdbdbd;
	width: 100%;
	border-radius: 5px;
	filter: grayscale(100%);
}
.tracking_page_design_table .radio-img:checked + label>img {
	border: 1px solid #74C2E1;
	filter: grayscale(0);
}
table.form-table.tracking_page_save_table .spinner {
	float: none;
}
.spinner.active {
	visibility: visible;
}
.woocommerce.trackship_admin_layout table.form-table td.button-column {
	padding: 5px 15px;
}
.woocommerce.trackship_admin_layout .border_0 table.form-table td.button-column {
	padding: 5px 15px 5px 0;
}
.tracking_page_display_options_td label {
	display: inline-block;
	width: 49%;
	line-height: 35px;
}
.trackship_admin_content div.submit {
	padding: 0;
}
.border-top {
	border-top: 1px solid #eee;
}
.ac-container {
	margin: 0 auto 30px auto;
	text-align: left;
	display: table;
	width: 100%;
	table-layout: fixed;
}
.ac-container .headig_label {
	padding: 15px 20px 15px 60px;
	margin-bottom: 0;
	position: relative;
	display: block;
	cursor: default;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	font-size: 14px;
	border-bottom: 1px solid #eee;
}
.email-icon {
	position: absolute;
	left: 15px;
	top: 17px;
	width: 35px;
}
.email_status_span {
	display: inline-block;
}
.email_heading {
	font-size: 14px!important;
	font-weight: 600;
	text-decoration: none;
	line-height: 20px;
}
.ac-container .headig_label .edit_customizer_a {
	float: right;
	margin: 0 20px 0 10px;
}
.shipment_about {
	margin: 0;
	line-height: 20px;
}
.ac-container .headig_label.enable {
	background: #ffffff;
}
.wp-core-ui .btn_ast2 {
	background: #005B9A;
	text-shadow: none;
	border-color: #005B9A;
	box-shadow: none;
	font-size: 14px;
	line-height: 32px;
	height: 35px;
	padding: 0 20px;
}
.trackship_admin_content div.submit .spinner {
	display: none;
	float: none;
	margin: 0px 10px 0;
}
.trackship_admin_content div.submit .spinner.active {
	display: inline-block;
	visibility: visible;
}
ul.trackship_dashboard_ul {
	margin: 25px 0 0;
}
ul.trackship_dashboard_ul li {
	width: 32%;
	display: inline-block;
	margin: 0 5px 0 0;
	border: 1px solid #eee;
	text-align: left;
	padding: 10px 0;
	background: #eaf8fb;
	min-height: 47px;
	vertical-align: top;
	-webkit-box-shadow: 0 1px 3px -2px rgba(234,248,251,.12), 0 1px 2px rgba(234,248,251,.24);
	-moz-box-shadow: 0 1px 3px -2px rgba(234,248,251,.12), 0 1px 2px rgba(234,248,251,.24);
	box-shadow: 0 1px 3px -2px rgba(234,248,251,.12), 0 1px 2px rgba(234,248,251,.24);
}
ul.trackship_dashboard_ul li label {
	padding-left: 20px;
}
ul.trackship_dashboard_ul li strong {
	font-weight: 800;
	font-size: 15px;
	display: block;
	margin-top: 5px;
	padding-left: 20px;
}
.api_connected {
	color: #59c889;
	text-decoration: none;
	font-weight: 800;
	font-size: 15px;
}
.api_connected .dashicons {
	height: 18px;
	width: 18px;
}
.trackship_doc_div {
	margin-top: 25px;
}
span.select_t_layout_section {
	display: inline-block;
	width: 150px;
	margin-right: 10px;
	margin-top: 5px;
}
.tracking-layout-table .radio-img {
	position: absolute;
	left: -9999px;
}
.tracking-layout-table .radio-img + label>img {
	border: 1px solid #bdbdbd;
	width: 100%;
	border-radius: 5px;
}
.tracking-layout-table .radio-img:checked + label>img {
	border: 1px solid #74C2E1;
}
label.tracking_color_label {
	margin-right: 10px;
}
table.form-table.tracking_page_design_table tr:last-child {
	border-bottom: 0;
}
table.form-table.tracking_page_save_table {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-top: 0;
}
table.form-table.tracking_page_save_table td {
	padding: 20px 20px 20px;
}
.tracking_layout_options_div {
	margin-top: 20px;
}
.tracking_layout_options_div label {
	margin-right: 15px;
}
.tracking_preview_iframe {
	width: 100%;
	height: 590px;
}
.post-type-shop_order .wp-list-table .column-shipment_status {
	width: 20ch;
	padding: .5em;
}
ul.wcast-shipment-status-list {
	margin: 0;
}
.wcast-shipment-status-list li {
	position: relative;
	min-height: 50px;
	box-sizing: border-box;
	/*padding: 10px;*/
	padding: 5px;
	margin: 0;
}
.wcast-shipment-status-list li:last-child {
	margin-bottom: 0;
}
.wcast-shipment-status-list .ast-shipment-status {
	display: grid;
}
.ast-shipment-tracking-status {
	font-weight: 600;
}
.ft11 {
	font-size: 11px;
}
.ft12 {
	font-size: 12px;
}
.icon-carrier_unsupported .ts4wc_track_button.ft12, .icon-wrong_shipping_provider .ts4wc_track_button.ft12, .icon-connection_issue .ts4wc_track_button.ft12, .icon-INVALID_TRACKING_NUM .ts4wc_track_button.ft12, .icon-pending_trackship .ts4wc_track_button.ft12, .ts4wc_more-info.ft12, .has_est_delivery_1 .showif_has_est_delivery_0 .ts4wc_track_button.ft12 {
	display: none;
}
.has_est_delivery_0 .showif_has_est_delivery_0 {
	display: block;
}
.icon-carrier_unsupported .ts4wc_more-info.ft12, .icon-wrong_shipping_provider .ts4wc_more-info.ft12, .icon-connection_issue .ts4wc_more-info.ft12, .icon-INVALID_TRACKING_NUM .ts4wc_more-info.ft12, .icon-pending_trackship .ts4wc_more-info.ft12 {
	display: contents;
}
#admin_tracking_widget .popuprow span.wc_order_id a {
	display: none;
}
.ast-shipment-status .shipment-icon:before {
	content: ' ';
	width: 16px;
	height: 16px;
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
.ast-shipment-status .icon-default:before {
	background-image: url(icons/invalid.png);
}
.ast-shipment-status .icon-INVALID_TRACKING_NUM:before {
	background-image: url(icons/invalid-tracking-number.png);
}
.ast-shipment-status .icon-wrong_shipping_provider:before {
	background-image: url(icons/wrong-shipiing-provider.png);
}
.ast-shipment-status .icon-carrier_unsupported:before {
	background-image: url(icons/carrier-unsupported.png);
}
.ast-shipment-status .icon-delivered:before {
	background-image: url(icons/delivered.png);
}
.ast-shipment-status .icon-in_transit:before {
	background-image: url(icons/in-transit.png);
}
.ast-shipment-status .icon-on_hold:before {
	background-image: url(icons/on-hold.png);
}
.ast-shipment-status .icon-pre_transit:before {
	background-image: url(icons/pre-transit.png);
}
.ast-shipment-status .icon-out_for_delivery:before {
	background-image: url(icons/out-for-delivery.png);
}
.ast-shipment-status .icon-available_for_pickup:before {
	background-image: url(icons/available-for-picup.png);
}
.ast-shipment-status .icon-return_to_sender:before {
	background-image: url(icons/return-to-sender.png);
}
.ast-shipment-status .icon-failure:before {
	background-image: url(icons/failure.png);
}
.ast-shipment-status .icon-exception:before {
	background-image: url(icons/failure.png);
}
.ast-shipment-status .icon-unknown:before {
	background-image: url(icons/unknown.png);
}
.ast-shipment-status .icon-pending_trackship:before {
	background-image: url(icons/pending-trackship.png);
}
.ast-shipment-status .icon-invalid_user_key:before {
	background-image: url(icons/invalid-user-key.png);
}
.trackship_admin_layout .mdl-switch__track {
	left: 1px;
	top: 1px;
	height: 14px;
	width: 32px;
	right: 1px;
}
.trackship_admin_layout .mdl-switch.is-checked .mdl-switch__track {
	background: rgb(89 200 137 / 0.4) !important;
}
.trackship_admin_layout .mdl-switch__ripple-container .mdl-ripple {
	background: #59c889 !important;
}
.trackship_admin_layout .mdl-switch .mdl-switch__thumb {
	left: 3px;
	top: 2px;
	height: 12px;
	width: 12px;
}
.trackship_admin_layout .mdl-switch.is-checked .mdl-switch__thumb {
	background: #59c889 !important;
	left: 20px;
	top: 1px;
	height: 12px;
	width: 12px;
}
.trackship_dropdown {
	position: relative;
}
.trackship-dropdown-menu {
	cursor: pointer;
	padding: 4px 5px 2px;
	color: #3c4858;
	font-size: 24px;
	vertical-align: baseline;
}
.trackship-dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 220px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
	border: 1px solid #ccc;
	padding: .5rem;
	margin-top: 0;
	text-align: left;
	top: 35px;
}
.trackship-dropdown-content:before {
	content: '';
	width: .75rem;
	height: .75rem;
	position: absolute;
	z-index: 1;
	top: -0.375rem;
	right: 8px;
	background-color: #fff;
	transform: rotate(45deg);
	border: 1px solid #aebacc;
	border-width: 1px 0 0 1px;
	margin-top: -1px;
}
.trackship-dropdown-content li {
	margin-bottom: 0;
	border-bottom: 1px solid #ebeef2;
	padding: .5rem;
}
.trackship-dropdown-content li a {
	color: black;
	text-decoration: none;
	display: block;
}
#trackship-snackbar.mdl-snackbar {
	background: #83bd31;
	z-index: 100000;
	bottom: 10px;
}
#trackship-snackbar .mdl-snackbar__text {
	float: unset;
	width: 100%;
	text-align: center;
}
#trackship-snackbar .mdl-snackbar__action {
	display: none;
}
.woocommerce.trackship_admin_layout table.form-table.order-status-table td {
	padding: 20px 15px;
}
.status-label-column .order-label {
	display: inline-flex;
	line-height: 2.2em;
	color: #777;
	background: #e5e5e5;
	border-radius: 4px;
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin: -.25em 0;
	cursor: inherit!important;
	white-space: nowrap;
	max-width: 100%;
	padding: 0.1em 1em;
}
.order-status-table .wp-picker-container {
	display: inline-block;
	vertical-align: middle;
}
.trackship_admin_content .form-table .wp-color-result.button {
	margin: 0 6px 0px 0;
}
.woocommerce.trackship_admin_layout table.form-table select {
	width: auto;
	max-width: 400px;
	min-width: 90px;
	line-height: 20px;
}
#wc_ast_status_label_color, #wc_ast_select_primary_color, #wc_ast_select_border_color {
	width: 80px;
}
.woocommerce .trackship_admin_content table.form-table th label .woocommerce-help-tip {
	margin: -4px 0 0 5px;
	position: relative;
	font-size: 21px;
	color: #005B9A;
}
.woocommerce_page_trackship-for-woocommerce #tiptip_holder.tip_bottom #tiptip_arrow_inner {
	border-bottom-color: #005B9A;
}
.woocommerce_page_trackship-for-woocommerce #tiptip_content {
	background: #005B9A;
	padding: 15px;
	font-size: 12px;
}
.woocommerce.trackship_admin_layout input.tab_input:checked + label, .woocommerce.trackship_admin_layout input.inner_tab_input:checked + label {
	color: #59c889;
}
.shipment_status_toggle .ast-tgl-btn {
	vertical-align: middle;
}
label.tab_label.first_label {
	margin-left: 30px;
}
.tracking_page_toggle {
	display: inline-block;
	vertical-align: middle;
}
.woocommerce.trackship_admin_layout table.form-table.heading-table td h3.tracking_page_heading {
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
}
.wp-core-ui .btn_green2 {
	background: #59c889;
	text-shadow: none;
	border-color: #59c889;
	box-shadow: none;
	font-size: 14px;
	line-height: 32px;
	height: 35px;
	padding: 0 20px;
}
.wp-core-ui .btn_large {
	line-height: 33px;
	padding: 0px 10px;
	font-size: 13px;
	font-weight: 600;
	height: auto;
}
.wp-core-ui .btn_ts_outline {
	background: transparent;
	border: 1px solid #59c889;
	color: #59c889;
}
.wp-core-ui .btn_ts_outline:hover, .wp-core-ui .btn_ts_outline:focus {
	background: transparent;
	border: 1px solid #59c889;
	color: #59c889;
}
.wp-core-ui .btn_green2:hover, .wp-core-ui .btn_green2:focus {
	background: #3c4858;
	border-color: #3c4858;
	color: #fff;
	text-shadow: none;
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
}
.wp-core-ui .btn_large .dashicons {
	vertical-align: middle;
	margin-left: 5px;
}
.settings_ul {
	margin-top: 0;
	margin-bottom: 0;
}
.settings_ul.settings_ul_delivered_status {
	border-bottom: 1px solid #e0e0e0;
}
.settings_ul > li {
	padding: 15px 25px;
	border-bottom: 1px solid #e0e0e0;
	margin: 0;
	min-height: 25px;
	position: relative;
}
.settings_ul li:last-child {
	border-bottom: 0;
}
.settings_ul_submit {
	text-align: right;
}
.status-label-li .order-label {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	line-height: 2.2em;
	color: #777;
	background: #e5e5e5;
	border-radius: 4px;
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin: -.25em 0;
	cursor: inherit!important;
	white-space: nowrap;
	max-width: 100%;
	padding: 0 1em;
}
.settings_ul .setting_ul_checkbox_label {
	margin-left: 5px;
}
.status-label-li .wp-picker-container {
	vertical-align: middle;
}
.settings_ul.settings_ul_delivered_status li:first-child {
	border-bottom: 0;
}
.settings_ul.settings_ul_delivered_status li:last-child {
	padding-top: 0;
}
.tracking_page_desc {
	font-size: 12px;
	margin: 0;
	display: block;
}
.tracking_page_color_section {
	display: inline-block;
	width: 46%;
}
.tracking_page_color_ul {
	list-style: none;
}
.settings_ul .tracking_page_color_ul li {
	padding: 10px 0 5px;
	border-bottom: 1px solid #ccc;
	margin-left: 15px;
}
.trackship_admin_layout h3.border0_heading {
	color: #3c4858;
	margin: 25px 0 -15px;
}
.tracking_page_color_ul li label {
	width: 100px;
	display: inline-block;
	vertical-align: top;
	line-height: 29px;
}
.trackship_admin_layout .shipment-status-email-table tr.enable {
	background: #fff;
}
.woocommerce.trackship_admin_layout table.form-table.shipment-status-email-table td {
	border-bottom: 1px solid #e0e0e0;
	padding: 15px;
}
.woocommerce.trackship_admin_layout table.form-table.shipment-status-email-table tr:last-child td {
	border-bottom: 0;
}
.shipment_status_toggle label {
	vertical-align: text-top;
}
.woocommerce table.form-table .shipment-status-label.woocommerce-help-tip {
	font-size: 14px;
	padding: 0 1em;
	line-height: 2.2em;
	margin: -.25em 0;
	width: auto;
	height: auto;
}
.woocommerce table.form-table .shipment-status-label.woocommerce-help-tip:after {
	content: "";
}
.woocommerce_page_trackship-for-woocommerce #tiptip_content {
	background: #59c889;
	padding: 15px;
	font-size: 12px;
}
.woocommerce_page_trackship-for-woocommerce #tiptip_holder.tip_top #tiptip_arrow_inner {
	border-top-color: #59c889;
}
.woocommerce_page_trackship-for-woocommerce #tiptip_holder.tip_bottom #tiptip_arrow_inner {
	border-bottom-color: #59c889;
}
.edit_customizer_a {
	background: #fafafa;
	color: #3c4758;
	border: 1px solid #3c4758;
	padding: 5px 10px 7px;
	text-decoration: none;
	border-radius: 4px;
}
.shipment-status-email-table tr td:last-child {
	text-align: right;
	width: 85px;
}
.shipment-status-label {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	line-height: 2.2em;
	color: #fff;
	background: #e5e5e5;
	border-radius: 4px;
	border-bottom: 1px solid rgba(0,0,0,.05);
	margin: -.25em 0;
	cursor: pointer;
	white-space: nowrap;
	max-width: 100%;
	padding: 0 1em;
	text-decoration: none;
}
.shipment-status-label.in-transit, .shipment-status-label.in_transit {
	background: #7ad1cc !important;
	border-color: #7ad1cc !important;
}
.shipment-status-label.on-hold, .shipment-status-label.on_hold {
	background: #feeb77 !important;
	border-color: #feeb77 !important;
	color: #3c4858 !important;
}
.shipment-status-label.available-for-pickup, .shipment-status-label.available_for_pickup {
	background: #ff9800 !important;
	border-color: #ff9800 !important;
}
.shipment-status-label.return-to-sender, .shipment-status-label.return_to_sender {
	background: #A8414A !important;
	border-color: #A8414A !important;
}
.shipment-status-label.failed-attempt, .shipment-status-label.failed_attempt {
	background: #CD2128 !important;
	border-color: #CD2128 !important;
}
.shipment-status-label.out-for-delivery, .shipment-status-label.out_for_delivery {
	background: #95CB65 !important;
	border-color: #95CB65 !important;
}
.shipment-status-label.delivered-status, .shipment-status-label.delivered {
	background: #0F8042 !important;
	border-color: #0F8042 !important;
}
.shipment-status-label.late-shipments {
	background: #7ad1cc !important;
	border-color: #7ad1cc !important;
}
.shipment-status-email-table tr.disable {
	opacity: 0.7;
}
.shipment-status-email-table tr.disable td:last-child {
	pointer-events: none;
}
.trackship_admin_layout h3.ts_outer_section_heading {
	margin: 0;
	color: #3c4858;
	font-weight: 500;
	font-size: 18px;
}
.trackship_admin_layout table.form-table.late-shipments-email-content-table {
	background: #fff;
	display: none;
}
.trackship_admin_layout table.form-table.late-shipments-email-content-table #wcast_late_shipments_days {
	width: 60px;
}
.trackship_admin_layout table.form-table.late-shipments-email-content-table #wcast_late_shipments_email_content {
	width: 100%;
	height: 80px;
	margin-bottom: 10px;
}
.trackship_admin_layout table.form-table.late-shipments-email-content-table tr:last-child {
	border-top: 1px solid #e0e0e0;
}
.trackship_admin_layout table.form-table.late-shipments-email-content-table tr td {
	padding: 15px 15px;
}
.trackship_admin_layout table.form-table.late-shipments-email-content-table tr td label {
	margin-right: 10px;
}
.trackship_admin_layout table.form-table.late-shipments-email-content-table tr td select {
	width: 100px;
	vertical-align: middle;
}
.trackship_admin_content .late-shipments-email-content-table .spinner {
	float: none;
	margin: 0px 10px 0;
}
.woocommerce.trackship_admin_layout .get_shipment_status_tool table.form-table tr {
	border-bottom: 1px solid #e0e0e0;
}
.woocommerce.trackship_admin_layout .get_shipment_status_tool table.form-table tr:last-child {
	border-bottom: 0;
}
.woocommerce.trackship_admin_layout .get_shipment_status_tool table.form-table th {
	padding: 0 10px 0px 15px;
	vertical-align: middle;
}
.woocommerce.trackship_admin_layout .get_shipment_status_tool table.form-table td {
	padding: 10px;
	text-align: right;
}
.woocommerce.trackship_admin_layout .get_shipment_status_tool table.form-table.heading-table td {
	text-align: left;
	padding: 12px 10px 12px 15px;
}
.zorem-sidebar__section.padding_0 {
	padding: 0;
}
.menu_trackship_link {
	text-decoration: none;
	padding: 12px 0 11px;
	font-size: 14px;
	color: #005b9a;
	display: inline-block;
	margin-left: 20px;
	line-height: 1;
	outline: none;
	vertical-align: middle;
}
.ts_trackship_link {
	text-decoration: none;
	padding: 12px 0 11px;
	font-size: 14px;
	color: #3c4858;
	display: inline-block;
	margin-left: 20px;
	line-height: 1;
	outline: none;
	vertical-align: middle;
}
.ts_trackship_link.checked {
	color: #59c889;
	border-bottom: 2px solid #59c889;
	margin-bottom: -2px;
}
.trackship_admin_layout table.form-table.map-provider-table {
	margin-top: 15px;
	max-width: 600px;
	margin-left: 15px;
	margin-bottom: 15px;
}
.trackship_admin_layout table.form-table.map-provider-table th {
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 15px 10px 15px;
}
.add_custom_mapping_h3 {
	cursor: pointer;
}
.add_custom_mapping {
	color: #3c4858;
	text-decoration: unset;
}
.woocommerce table.form-table.map-provider-table .map_shipping_provider_text {
	width: 100%;
}
.remove_custom_maping_row {
	color: #f44336;
	border: 1px solid #f44336;
	border-radius: 50%;
	margin: 4px;
	cursor: pointer;
}
/** Toggle CSS **/
input[type=checkbox].tgl {
	display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
	box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
 background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
 background: none;
}
.tgl + .tgl-btn {
	outline: 0;
	display: inline-block;
	width: 36px;
	height: 18px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 40%;
	height: 100%;
}
.tgl + .tgl-btn:after {
	left: 0;
}
.tgl + .tgl-btn:before {
	display: none;
}
.tgl:checked + .tgl-btn:after {
	left: 50%;
}
.tgl-flat + .tgl-btn {
	padding: 2px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background: rgba(0,0,0, 0.26);
	border: 1px solid #ccc;
	border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: #f2f2f2;
	content: "";
	border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
	border: 1px solid #ccc;
	background: rgb(89 200 137 / 0.4);
}
.tgl-flat:checked + .tgl-btn:after {
	left: 55%;
	background: #59c889;
}

/** Snackbar CSS **/

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
 from {
bottom: 0;
opacity: 0;
}
 to {
bottom: 30px;
opacity: 1;
}
}
 @keyframes fadein {
 from {
bottom: 0;
opacity: 0;
}
 to {
bottom: 30px;
opacity: 1;
}
}
 @-webkit-keyframes fadeout {
 from {
bottom: 30px;
opacity: 1;
}
 to {
bottom: 0;
opacity: 0;
}
}
 @keyframes fadeout {
 from {
bottom: 30px;
opacity: 1;
}
 to {
bottom: 0;
opacity: 0;
}
}
/* The snackbar - position it at the bottom and in the middle of the screen */
.ts_snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #3c4758; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show_snackbar {
	visibility: visible !important; /* Show the snackbar */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Popup CSS*/
.popupwrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(250 250 250 / 0.9);
	z-index: 100000;
	width: 100%;
	height: 100%;
	text-align: center;
}
.popupwrapper:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.popuprow {
	display: inline-block;
	vertical-align: middle;
	max-width: 800px;
	background: #fff;
	padding: 0;
	position: relative;
	z-index: 10;
	border-radius: 5px;
	width: 97%;
	width: calc(100% - 5px);
	max-height: 90%;
	overflow-y: overlay;
	text-align: left;
}
.popupwrapper.tracking_page_preview_popup .popuprow {
	max-width: 700px;
	padding: 0;
	background: transparent;
	border: 0;
	border-radius: 0;
}
.popup_header {
	border-bottom: 1px solid #e0e0e0;
	padding: 20px;
}
.tracking_page_preview_popup .popup_header {
	background: #fff;
}
.popup_header h3 {
	font-size: 20px;
	display: inline-block;
	margin: 0;
	color: #3c4858;
}
.tracking_page_preview_popup .popup_header h3 {
	text-align: left;
	display: block;
}
.tracking_page_preview_popup .popup_header .popup_close_icon {
	z-index: 10;
}
.popup_header .popup_close_icon {
	color: #59c889;
	width: 60px;
	height: 60px;
	font-size: 30px;
	border-left: 1px solid #e0e0e0;
	position: absolute;
	right: 0;
	top: 0px;
	cursor: pointer;
}
.popup_header .popup_close_icon:before {
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}
.popupwrapper.tracking_page_preview_popup .popuprow .popup_body {
	padding: 0;
}
.popupclose {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0;
	left: 0;
}
/* TrackShip Dashboard CSS*/
.ts-dashboard-widget {
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	background: #fff;
	margin-bottom: 20px;
}
.ts-widget-header {
	border-bottom: 1px solid #e0e0e0;
	padding: 0 15px;
}
.ts-widget-header h2 {
	font-size: 17px;
	color: #3f4856;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ts-widget-header h2 small {
	font-size: 13px;
	font-weight: 400;
	background: #f5f5f5;
	border-radius: 10px;
	padding: 2px 6px;
}
.ts-widget-content {
	width: 100%;
}
.ts-dashboard-widget .ts-widget-row {
	display: flex;
}
.ts-dashboard-widget .ts-widget-row.ts-widget-guides {
	display: block;
}
.ts-dashboard-widget .ts-widget-row.ts-widget-guides span.dashicons {
	float: right;
	text-decoration: none;
	color: #59c889;
}
.ts-widget-content .ts-widget__section {
	flex: 1;
	padding: 15px;
}
.ts-widget-bborder {
	border-bottom: 1px solid #e0e0e0;
}
.ts-widget-rborder {
	border-right: 1px solid #e0e0e0;
}
.ts-widget-content h3 {
	margin: 0 0 10px;
	font-weight: 400;
}
.ts-widget-content p {
	margin: 0;
}
.ts-widget-shipments-ul {
	width: 100%;
	margin: 0;
}
.ts-widget-shipments-ul li {
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 15px;
	margin-bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.view_all_shipments_div {
	padding: 15px;
}
.ts-widget-analytics-number {
	font-size: 24px;
	font-weight: 600;
	display: inline-block;
	margin: 10px 0;
}
/* Accordion styles */
.ts-accordina-tabs input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.ts-accordina-tabs {
	overflow: hidden;
}
.ts-accordina-tabs .tab {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
}
.ts-accordina-tabs .tab-label {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 1em;
	cursor: pointer;/* Icon */
}
.ts-accordina-tabs .tab-label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.ts-accordina-tabs .tab-content {
	max-height: 0;
	padding: 0 1em;
	color: #2c3e50;
	background: white;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.ts-accordina-tabs .tab-close {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	padding: 1em;
	font-size: 0.75em;
	background: #2c3e50;
	cursor: pointer;
}
.ts-accordina-tabs .tab-close:hover {
	background: #fafafa;
}
.ts-accordina-tabs input:checked + .tab-label {
	background: #fafafa;
}
.ts-accordina-tabs input:checked + .tab-label::after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.ts-accordina-tabs input:checked ~ .tab-content {
	max-height: 100vh;
	padding: 1em;
}
.ts-analytics-widgets-container {
	display: flex;
}
.ts-analytics-widget {
	flex: 1;
	padding: 0 10px 0 0;
}
.ts-analytics-widget:last-child {
	padding: 0;
}
.ts-analytics-widget-content {
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	background: #fff;
	padding: 15px;
}
.ts-analytics-widget-content h3 {
	margin: 0 0 10px;
	font-weight: 400;
}
table.table.widefat.ts-analytics-table {
	border: 0;
	box-shadow: none;
}
.ts-analytics-table td, .ts-analytics-table th {
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
.ts-analytics-table td:last-child, .ts-analytics-table th:last-child {
	border-right: 0;
}
#ts_analytics_shipping_date {
	vertical-align: middle;
}
.trackship-notice {
	background: #fff;
	border: 1px solid #59c889;
	border-radius: 3px;
	padding: 15px;
	margin: 0 0 20px;
}
.trackship-notice p {
	margin-top: 0;
}
p.delivered_message {
	display: inline-block;
	max-width: 85%;
}
.form-table td p {
	margin: 0;
}
.trackship_admin_content .settings_ul_submit .spinner {
	display: none;
	float: none;
}
.trackship_admin_content .settings_ul_submit .spinner.active {
	display: inline-block;
	vertical-align: sub;
}
.wp-core-ui .button-trackship {
	background: #59c889;
	border-color: #59c889;
}
.wp-core-ui .button-trackship.focus, .wp-core-ui .button-trackship.hover, .wp-core-ui .button-trackship:focus, .wp-core-ui .button-trackship:hover {
	background: #59c889;
	border-color: #59c889;
	outline: none;
	box-shadow: none;
}
.settings_ul .settings_radio_li>label, .settings_ul .multiple_select_li>label {
	width: 40%;
	display: inline-block;
}
.multiple_select_container {
	display: inline-block;
}
.multiple_select_container {
	display: inline-block;
	width: 50%;
}
.multiple_select_container .select2-container {
	width: 500px !important;
}
.woocommerce.trackship_admin_layout table.form-table.order-status-table td:first-child {
	padding: 20px 15px 20px 15px;
	width: 37px;
}
/** Toggle CSS Start**/
input[type=checkbox].ast-tgl {
	display: none;
}
.ast-tgl, .ast-tgl:after, .ast-tgl:before, .ast-tgl *, .ast-tgl *:after, .ast-tgl *:before, .ast-tgl + .ast-tgl-btn {
	box-sizing: border-box;
}
.ast-tgl::-moz-selection, .ast-tgl:after::-moz-selection, .ast-tgl:before::-moz-selection, .ast-tgl *::-moz-selection, .ast-tgl *:after::-moz-selection, .ast-tgl *:before::-moz-selection, .ast-tgl + .ast-tgl-btn::-moz-selection {
 background: none;
}
.ast-tgl::selection, .ast-tgl:after::selection, .ast-tgl:before::selection, .ast-tgl *::selection, .ast-tgl *:after::selection, .ast-tgl *:before::selection, .ast-tgl + .ast-tgl-btn::selection {
 background: none;
}
.ast-tgl + .ast-tgl-btn {
	outline: 0;
	display: inline-block;
	width: 36px;
	height: 18px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ast-tgl + .ast-tgl-btn:after, .ast-tgl + .ast-tgl-btn:before {
	position: relative;
	display: block;
	content: "";
	width: 40%;
	height: 100%;
}
.ast-tgl + .ast-tgl-btn:after {
	left: 0;
}
.ast-tgl + .ast-tgl-btn:before {
	display: none;
}
.ast-tgl:checked + .ast-tgl-btn:after {
	left: 50%;
}
.ast-tgl-flat + .ast-tgl-btn {
	padding: 2px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background: rgba(0,0,0, 0.26);
	border: 1px solid #ccc;
	border-radius: 2em;
}
.ast-tgl-flat + .ast-tgl-btn:after {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	background: #f2f2f2;
	content: "";
	border-radius: 1em;
}
.ast-tgl-flat:checked + .ast-tgl-btn {
	border: 1px solid #ccc;
	background: #57c38680;
}
.ast-tgl-flat:checked + .ast-tgl-btn:after {
	left: 55%;
	background: #59c889;
}
/** Toggle CSS end **/
.order-status-table td:last-child {
	text-align: right;
}
form.zorem_plugin_setting_tab_form tr.title_row {
	border-bottom: 1px solid #ddd;
}
form.zorem_plugin_setting_tab_form h3 {
	margin: 0;
}
ul.settings_ul li label.left_label {
	width: 30%;
	display: inline-block;
}
#tab_email_notifications:checked ~ .shipment-status-email-section, #tab_sms_notifications:checked ~ .shipment-status-sms-section {
	display: block !important;
}
#content_trackship_notifications.inner_tab_section .tab_inner_container .outer_form_table label.inner_tab_label {
	padding: 15px 12px;
	margin-left: 0;
}
input.tab_input, input.inner_tab_input {
	display: none;
}
input.inner_tab_input:checked + label.ts_tabs_label {
	border-bottom: 0px;
}
section.inner_tab_section {
	display: none;
	padding: 0;
	border-top: 1px solid #ddd;
	margin-top: -1px;
}
span.shipment_status_toggle {
	margin-right: 15px;
}
.status-label-column .shipment-status-label {
	vertical-align: middle;
}
.shipment-status-email-table a {
	margin-top: 0 !important;
}
.ast-row {
	-js-display: flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding: 0 15px;
	align-items: center;
	justify-content: center;
}
.as-col-4 {
	max-width: 33.33%;
	-ms-flex-preferred-size: 33.33%;
	flex-basis: 33.33%;
}
.as-col-8 {
	max-width: 66%;
	-ms-flex-preferred-size: 66%;
	flex-basis: 66%;
}
.wp-core-ui .btn_outline {
	border-color: #59c889 !important;
	background: transparent !important;
	color: #3c4858 !important;
}
label.setting_ul_tgl_checkbox_label {
	margin-left: 5px;
}
.trackship_section {
	border: 0;
	background: transparent;
	padding: 10px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
}
.ts_landing_header {
	font-size: 26px;
	line-height: 28px;
	margin: 0;
	font-weight: 700;
}
.ts_landing_description {
	font-size: 15px;
	max-width: 585px;
	margin: 1em auto;
}
.ts_landing_banner {
	text-align: center;
	max-width: 400px;
	margin: 10px auto;
	position: relative;
	border: 0;
	padding: 0;
}
.ts_landing_banner img {
	width: 100%;
}
.open_ts_video {
	position: absolute;
	width: 60px;
	height: 60px;
	font-size: 60px;
	top: 42%;
	left: 44%;
	color: #59c889;
	background: #fff;
	cursor: pointer;
}
button.button-primary.add_custom_mapping_h3 {
	margin: 0px 20px 20px;
}
span.dashicons.dashicons-plus.ptw-dashicons {
	margin-top: 6px;
	margin-left: 7px;
}
.woocommerce table.form-table.map-provider-table .select2-container {
	min-width: 0px!important;
}
#trackship-tracking-items .tracking-content {
	background: #f5f5f5;
	padding: 10px;
	position: relative;
	margin-bottom: 10px;
}
#trackship-tracking-items small.last-update-on {
	display: inline;
	margin: 0 10px;
}
div#trackship-tracking-items .ts-tracking-item {
	margin-top: 10px;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
}
.col-lg-6 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.wp-core-ui #trackship_tracking_page_form select {
	background-color: #fafafa;
	width: 250px;
	border-color: #ccc;
}
.trackship_sms_settings tr.dropdown_button_row th {
	padding-top: 20px !important;
}
.wp-core-ui .connect-your-store {
	line-height: 38px;
	padding: 0px 10px 0 15px;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
}
.ast-shipment-status-div {
	margin-top: 10px;
}
.wcast-shipment-status-list .ast-shipment-status {
	display: grid;
}
.wcast-shipment-status-list .ast-shipment-status.has_est_delivery_1 {
	display: block;
}
.ast-shipment-status i {
	font-size: 18px;
}
.ast-shipment-status .shipment-icon:before {
	content: ' ';
	width: 16px;
	height: 16px;
	background-size: cover;
	display: inline-block;
	vertical-align: text-bottom;
}
.ast-shipment-status .icon-default:before {
	background-image: url(icons/invalid.png);
}
.ast-shipment-status .icon-INVALID_TRACKING_NUM:before {
	background-image: url(icons/invalid-tracking-number.png);
}
.ast-shipment-status .icon-wrong_shipping_provider:before {
	background-image: url(icons/wrong-shipiing-provider.png);
}
.ast-shipment-status .icon-carrier_unsupported:before {
	background-image: url(icons/carrier-unsupported.png);
}
.ast-shipment-status .icon-delivered:before {
	background-image: url(icons/delivered.png);
}
.ast-shipment-status .icon-in_transit:before {
	background-image: url(icons/in-transit.png);
}
.ast-shipment-status .icon-on_hold:before {
	background-image: url(icons/on-hold.png);
}
.ast-shipment-status .icon-pre_transit:before {
	background-image: url(icons/pre-transit.png);
}
.ast-shipment-status .icon-out_for_delivery:before {
	background-image: url(icons/out-for-delivery.png);
}
.ast-shipment-status .icon-available_for_pickup:before {
	background-image: url(icons/available-for-picup.png);
}
.ast-shipment-status .icon-return_to_sender:before {
	background-image: url(icons/return-to-sender.png);
}
.ast-shipment-status .icon-failure:before {
	background-image: url(icons/failure.png);
}
.ast-shipment-status .icon-exception:before {
	background-image: url(icons/failure.png);
}
.ast-shipment-status .icon-unknown:before {
	background-image: url(icons/unknown.png);
}
.ast-shipment-status .icon-pending_trackship:before {
	background-image: url(icons/pending-trackship.png);
}
.ast-shipment-status .icon-invalid_user_key:before {
	background-image: url(icons/invalid-user-key.png);
}
.wcast-shipment-status-list .wcast-shipment-est-delivery {
	display: block;
}
#admin_tracking_widget .popuprow {
	padding: 20px 20px 0;
	max-width: 600px;
}
.ts4wc_logo {
	width: 100px;
	float: right;
	margin-top: 10px;
}
#admin_tracking_widget .shipment_status_heading {
	line-height: 1;
	margin-top: 0;
}
#admin_tracking_widget.popupwrapper {
	background: rgb(60 72 88 / 40%);
}
td.shipment_tracking.column-shipment_tracking li {
	min-height: 50px;
	margin: 0;
	padding: 5px;
	box-sizing: border-box;
}
.tracking-content .metabox_get_shipment_status {
	margin-top: 10px;
}
#trackship-tracking-items .tracking-content:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -10px;
	left: 20px;
	width: 0;
	height: 0;
	border-width: 10px 10px 0 0;
	border-style: solid;
	border-color: #f5f5f5 transparent;
}
.zorem_snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background: #59c889;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
}
.zorem_snackbar_warning {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background: #ed1c24;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
}
.license_message:empty {
	display: none;
}
.license_message {
	margin-top: 10px;
}
.shipment-status-sms-section .smswoo-shipment-sendto .btn_ts_transparent {
	border: 1px solid #bdbdbd !important;
	border-radius: 4px;
	font-size: 13px;
	display: inline-block;
	height: 30px;
	line-height: 28px;
	color : #3c4858;
	background: #fafafa !important;
}
.shipment-status-sms-section .smswoo-shipment-sendto .button-primary.woocommerce-save-button.button-smswoo {
	background: #59c889;
	border-color: #59c889;
	padding: 0 10px;
}

@media (min-width: 992px) {
.col-lg-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.ts-dashboard-widget .ts-widget-header h2.mh22 {
	min-height: 22px;
}
.ts-dashboard-widget .ts-widget-content.mh70 {
	min-height: 70px;
}
.ts-dashboard-widget .ts-widget-content .ts-widget-row.mh100 {
	min-height: 100px;
}
}

@media screen and (min-width: 768px) and (max-width: 1269px) {
.ts_col_4 {
	max-width: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}
}

@media screen and (max-width: 1150px) {
.zorem_admin_sidebar {
	width: auto;
	display: block;
	padding: 25px 0px 25px 0;
}
}

@media screen and (max-width: 768px) {
.ts_col_4 {
	max-width: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}
.ts_col_6 {
	max-width: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}
.trackship_admin_layout .mdl-switch {
	width: 36px !important;
}
span.select_t_layout_section {
	width: 46%;
}
.tracking_page_color_section {
	width: 100%;
}
.settings_ul .tracking_page_color_ul li {
	margin-left: 0;
}
.tracking_layout_options_div label {
	display: block;
	margin-bottom: 10px;
}
.shipment-status-email-table.form-table td {
	display: table-cell;
}
.trackship_admin_content .get_shipment_status_tool .form-table th.titledesc {
	width: auto;
}
.woocommerce.trackship_admin_layout .get_shipment_status_tool.border_0 table.form-table th {
	padding: 10px 10px 10px 15px;
}
.woocommerce.trackship_admin_layout .get_shipment_status_tool.border_0 table.form-table td {
	text-align: inherit;
}
.ts-widget-row .ts-widget__section .account_dashboard_btn {
	width: 100%;
	text-align: center;
}
.ts-widget-row .ts-widget__section .subscription_detail {
	margin-bottom: 20px;
}
}

@media screen and (max-width: 500px) {
select#wc_ast_trackship_page_id {
	margin-left: 0;
	display: block;
	margin-top: 10px;
}
}
